/* การใช้ Element Selector */
nav {
    background-color: #490202;
    padding: 15px;
}

/* การใช้ Descendant Selector */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* การใช้ Child Selector */
nav > ul > li {
    margin: 0 10px;
}

/* การใช้ Class Selector */
.menu-item {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

/* การใช้ Pseudo-class */
.menu-item:hover {
    background-color: #ff9100;
    border-radius: 3px;
}

/* การใช้ ID Selector */
#active {
    background-color: #ff0000;
    border-radius: 3px;
}